* {
  padding: 0;
  margin: 0;
}

#container {
  width: 312px;
  box-shadow: 0 0 3px #bab8b8;
  overflow: hidden;

  position: fixed;
  font-family: Arial;
  font-family: 'Roboto', Arial, sans-serif;
  bottom: 0;
  left: 3px;
  /*min-height: 185px;*/
}

#header {
  background: #ec1d23 url(../img/re_logo.svg) 280px 5px no-repeat;
  height: 35px;
  padding: 0 7px 0 9px;
  font-size: 14px;
  color: #fff;
  line-height: 100%;
  display: none;
  background-size: 27px 30px;
}

#container.open #header {
  background-image: none;
}

#header .status {
  /*background: url(../img/open-arrow.png) right 3px no-repeat;*/
  cursor: pointer;
  position: fixed;
  margin: 10px 0 0 0;
  width: 296px;
  font-size: 15px;
}

#container.open #header .status {
  background: url(../img/open-arrow.png) right 3px no-repeat;
}

#content {
  position: relative;
  background: #fff;
  display: none;
  height: 369px;
}

#employee {
  height: 79px;
  padding: 9px 0 0 9px;
  background: #fbfbfb;
  border-bottom: 1px solid #e6e6e6;
}

#employee .photo {
  float: left;
  margin: 0 15px 0 0;
}

#employee .logo {
  width: 71px;
  height: 71px;
  /*background: #b5b5b5;*/
  float: right;
  margin-right: 9px;
}

#employee .name {
  font-size: 13px;
  font-weight: 500;
  color: #2c2c2c;
  line-height: 100%;
  margin: 0 0 10px 0;
}

#employee .name .last-name {
  margin: 0 0 3px 0;
}

#employee .post {
  font-size: 13px;
  color: #939393;
  line-height: 125%;
}

#message-input {
padding: 0 1px 1px 1px;
border-top: 1px solid #d5d5d5;
position: relative;
}

#message-input textarea {
  overflow: hidden;
  resize: none;
  border: none;
  width: 100%;
  height: 30px;
  font-size: 13px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  font-family: 'Roboto', Arial, sans-serif;
}

#message-input textarea {
  background: #fff url(../img/textarea-copyright.png) 281px 20px no-repeat;
}

#message-input.full textarea {
  background-image: none;
  word-wrap: break-word;
}

.message-input-content {
  position: relative;
  z-index: 2;
  padding: 8px;
  background: #fff;
  height: 47px;
}

.message-input-content {
  position: relative;
  z-index: 2;
  padding: 8px;
  background: #fff;
  height: 47px;
}

.message-input-content-bg {
  background: url(../img/message-input-content-bg.png) repeat-x;
  position: absolute;
  width: 314px;
  height: 67px;
  top: -1px;
  left: -1px;
  z-index: 1;
  /*display: none;*/
}

.message-input-content-bg.ng-hide-add, .message-input-content-bg.ng-hide-remove {
  -webkit-transition:all linear 0.3s;
  -moz-transition:all linear 0.3s;
  -o-transition:all linear 0.3s;
  transition:all linear 0.3s;
  transition:all linear 0.3s;
  display:block!important;
}

.message-input-content-bg.ng-hide-add.ng-hide-add-active,
.message-input-content-bg.ng-hide-remove {
  opacity:0;
}

.message-input-content-bg.ng-hide-add,
.message-input-content-bg.ng-hide-remove.ng-hide-remove-active {
  opacity:1;
}

.message-input-content span {
  font-size: 13px;
  color: #9c9891;
  position: absolute;
  top: 0;
  left: 0;
  width: 294px;
  height: 46px;
  padding: 8px;
}

#copyright {
  font-size: 10px;
  color: #918d85;
  text-align: right;
  padding: 5px 10px 4px 0;
}

#copyright span {
  color: #4d4d4d;
}

#copyright .copyright-content {
  display: none;
}

/* Dialogue */
#dialogue .msg {
  margin: 0 0 14px 0;
  display: table;
  width: 100%;
  table-layout: fixed;
}

#dialogue {
  padding: 15px 9px 8px 9px;
  height: 192px;
  overflow: auto;
}

#dialogue .msg-input .msg-photo {
  width: 52px;
  display: table-cell;
  vertical-align: top;
}

#dialogue .msg-input .msg-content {
  min-width: 242px;
  display: table-cell;
  vertical-align: top;
}

#dialogue .msg-input .msg-content-text {
  background: #f0f7e7;
  padding: 8px 16px 8px 18px;
}

#dialogue .msg-input .msg-content-arrow {
  background: url(../img/msg-input-arrow.png) 0 15px no-repeat;
  padding: 0 0 0 6px;
  position: relative;
}

#dialogue .msg-input  .msg-content .msg-date {
  font-size: 10px;
  color: #acacac;
  float: right;
  display: none;
}

#dialogue .msg-input:hover .msg-date {
  display: block;
}

#dialogue .msg-input  .msg-content .msg-user {
  color: #919191;
  font-size: 12px;
  line-height: 100%;
  margin: 0 0 10px 0;
}

#dialogue .msg-input  .msg-content .msg-text {
  font-size: 13px;
  color: #2c2c2c;
  word-wrap: break-word;
}

#dialogue .msg-output .msg-photo {
  display: table-cell;
  vertical-align: top;
  width: 52px;
  text-align: right;
}

#dialogue .msg-output .msg-content {
  min-width: 202px;
  background: #f7f7f7;
  padding: 8px 16px 8px 18px;
}

#dialogue .msg-output .msg-content-arrow {
  background: url(../img/msg-output-arrow.png) right 15px no-repeat;
  padding: 0 6px 0 0;
  display: table-cell;
  vertical-align: top;
}

#dialogue .msg-output  .msg-content .msg-date {
  font-size: 10px;
  color: #acacac;
  float: right;
  display: none;
}

#dialogue .msg-output:hover .msg-date {
  display: block;
}

#dialogue .msg-output  .msg-content .msg-user {
  color: #84897e;
  font-size: 12px;
  line-height: 100%;
  margin: 0 0 10px 0;
}

#dialogue .msg-output  .msg-content .msg-text {
  font-size: 13px;
  color: #2c2c2c;
  word-wrap: break-word;
}

/* Auth */
#auth {
  width: 288px;
  height: 38px;
  background: url(../img/auth.png) no-repeat;
  padding: 7px 0 0 7px;
}

#auth input {
  width: 108px;
  height: 23px;
  border: 1px solid #d5d5d5;
  padding: 0 0 0 8px;
  font-family: 'Roboto', Arial, sans-serif;
}

#auth input::-webkit-input-placeholder {
  color:#d5d5d5;
}

#auth input:-moz-placeholder {
  color:#d5d5d5;
}

#auth input:-ms-input-placeholder {
  color:#d5d5d5;
}

#auth .form-item {
  display: inline-block;
  margin-right: 3px;
}

#auth button {
  width: 29px;
  height: 25px;
  background: url(../img/auth-button.png) no-repeat;
  border: none;
  cursor: pointer;
  color: #fff;
}

#auth .form-action {
  display: inline-block;
}

#content #auth {
  position: absolute;
  top: 258px;
  left: 9px;
}

#auth input::-webkit-input-placeholder {
  color:#000;
}
#auth input::-webkit-input-placeholder {
  color:#000;
}
#auth input::-webkit-input-placeholder {
  color:#000;
}
#auth input:-moz-placeholder {
  color:#00f;
}
#auth input:-moz-placeholder {
  color:#000;
}
#auth input:-moz-placeholder {
  color:#000;
}