set :application,           "widget.regidium.com"
set :domain,                "widget.regidium.com"
set :deploy_to,             "/www/regidium.com/widget"
 
set :scm,                   :git
set :repository,            "git@github.com:regidium/widget.git"
set :branch,                "master"
set :deploy_via,            :remote_cache

role :app,                  domain, :primary => true
 
default_run_options[:pty] = true

set :keep_releases,         3
set :ssh_options,           {:forward_agent => true, :port => 22}
set :user,                  "USER"
set :scm_passphrase,        "PASSWORD"
set :use_sudo,              false
set :normalize_asset_timestamps, false

set :shared_children,       [
                                "node_modules",
                                "config/config",
                                "public/js/app/common/config"
                            ]

namespace :deploy do

  desc "Install node modules"
  task :npm_install do
    run "cd #{current_path} && npm install"
  end

end
 
after "deploy:create_symlink", "deploy:npm_install"

logger.level = Logger::MAX_LEVEL